{% extends 'base.html' %}

{% block body %}

<a href="{{url_for('sites.new_site')}}" type="button" class="btn btn-med btn-primary">New Site</a>
<p style="margin-bottom: 15px"></p>

<table class="table">
  <thead>
    <tr>
      <th>UID</th>
      <th>Title</th>
      <th>Events</th>
      <th>Analysis Run Frequency</th>
      <th>Last Run</th>
    </tr>
  </thead>
  <tbody>
    {% for site in sites %}
    <tr>
      <td>{{site.uid}}</td>
      <td>{{site.title}}</td>
      <td>
      {% for event in site.events %}
        {{event.name}} - {{event.score}}
        <br/>
      {% endfor %}
      </td>
      <td>{{site.delay_between_runs}}</td>
      <td>{{site.last_run_str()}}</td>
      <td><a href="{{url_for('sites.edit_site', uid=site.uid)}}">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}
